@font-face {
  font-family: Cooper-Light;
  src: url(/assets/fonts/Cooper/CooperLightCBT.otf);
}

@font-face {
  font-family: Cooper-Medium;
  src: url(/assets/fonts/Cooper/CooperMediumCBT.otf);
}

@font-face {
  font-family: Cooper-Bold;
  src: url(/assets/fonts/Cooper/CooperBlackCBT.otf);
}

@font-face {
  font-family: Serif;
  src: url(/assets/fonts/OfficinaSerif/OfficinaSerifBookC.otf);
}

@font-face {
  font-family: Serif-Bold;
  src: url(/assets/fonts/OfficinaSerif/OfficinaSerifBoldC.otf);
}